.container {
  width: 80%;
  margin: 10px auto;
}

.loginLink {
  padding: 5px 10px;
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
}

.loginLink:hover {
  background: white;
  color: #2575fc;
}

.signupLink {
  padding: 5px 10px;
  background: white;
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
}

.signupLink:hover {
  background: #f0f0f0;
}