.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 70px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addButton {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
}

.addButton:hover {
  background-color: #45a049;
}