.footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 1rem;
  color: #2e2e2e;
  font-size: 0.85rem;
  user-select: none;
  background: transparent;
  box-shadow: none;
  pointer-events: none;
  z-index: 1000;
}