.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #334155, #475569, #64748b);
  color: #f8fafc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 55px;
  padding: 0 25px;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.childrenWrapper {
  display: flex;
  gap: 12px;
}